body {
    text-align: center;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    background-image: url(/formulario-enfermagem-main/imagens/pexels-chokniti-khongchum-1197604-3938022.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 98vh;
}
h1 {
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.502);
}

button {
    margin-top: 10px;
    width: 100px;
    padding: 3px;
}

button:hover {
    background-color: azure;
    text-decoration: underline;
}

#resultado {
    border: 2px solid black;
    border-radius: 5px;
    background-color: antiquewhite;
    height: 300px;
    width: 300px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.514);
}


